{
	"main": {
	  "token": "YOUR_TOKEN",
	  "protocol": "https",
	  "hostname": "screeps.com",
	  "port": 443,
	  "path": "/",
	  "branch": "main"
	},
	"sim": {
	  "token": "YOUR_TOKEN",
	  "protocol": "https",
	  "hostname": "screeps.com",
	  "port": 443,
	  "path": "/",
	  "branch": "sim"
	},
	"season": {
	  "token": "YOUR_TOKEN",
	  "protocol": "https",
	  "hostname": "screeps.com",
	  "port": 443,
	  "path": "/season",
	  "branch": "main"
	},
	"exoblue": {
	  "email": "",
	  "password": "",
	  "protocol": "http",
	  "hostname": "quasar",
	  "port": 21025,
	  "path": "/",
	  "branch": "main"
	}
  }
